

/*----------------------------------  for development !!!*/

.v_a_m {vertical-align: middle; }

.box_inline_block { display: inline-block;}
.box_inline { display: inline;}
.box_block  { display: block;}

.box_center { display: inline-block; vertical-align: middle;}

.float_left { float: left;}
.float_right{ float: right;}

.img_fit_to_container{max-width: 100%; max-height: 100%;}


.pos_static   {position: static;}
.pos_relative {position: relative;}
.pos_absolute {position: absolute;}

.box_Z0{ z-index: 0;}
.box_Z1{ z-index: 1;}
.box_Z2{ z-index: 2;}
.box_Z3{ z-index: 3;}
.box_Z4{ z-index: 4;}
.box_Z5{ z-index: 5;}


.container_flex{display:flex;}
.center_flex{margin:auto;}

.backpos_absolute {position: absolute;}

.box_shadow{
	/*box-shadow: 0.1em 0.1em 0.3em #555, 0.3em 0.2em 0.6em #555, 0.6em 0.6em 1.2em #555;*/
	box-shadow: 0.1em 0.1em 0.1em #555, 0.3em 0.2em 0.3em #555, 0.6em 0.6em 0.5em #555;
}

.box_shadow_2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.vertical_center {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.fillwidth {
    min-width: 100%;
    height: auto;
}


/*----------------------------------*/
/*------------ Not Tested ----------------------*/
/*------------ Not Tested ----------------------*/

.translate_center {top: 50%; left: 50%; transform: translate(-50%, -50%);}
.translate_none {transform: none;}

.center_1 {
	position: absolute;
	z-index: 3;
	width: 60px;
	height: 20px;            
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}	

.center_2 {
	position: absolute;
	z-index: 3;
	width: 60px;
	height: 20px;            
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}	

.center_text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.container_flex{
	display:flex;
}

.center_flex{
	margin:auto;
}




.m_btn {
  font-size: 12px;
  margin: 0;
}


