

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&display=swap');

.font_serif_kor {
	font-family: 'Nanum Myeongjo', serif;
}

.font_san_kor {
	font-family: 'Nanum Gothic', serif;
}




.text_1 {
  /*font-family: 'Times New Roman', serif;*/
  /*font-weight: bold;*/
  /*color: white;*/
  /*text-shadow: 0.1em 0.1em 0.5em black, 0.1em 0.1em 0.4em black, 0.3em 0.3em 0.6em black;*/

  font-size: 12px;
  line-height: 26px;
  text-indent: 1em;
  
  margin: 0px 15px;
  
  /*text-align: justify;*/

}


.text_2 {
  font-size: 12px;
  /*line-height: 20px;*/
  text-indent: 1em;
  
  text-align: left;
}

.text_2 p{
  margin-bottom: -5px;
}



.text_shadow {
  /*font-family: 'Times New Roman', serif;*/
  font-weight: bold;

  color: white;
  text-shadow: 0.1em 0.1em 0.5em black, 0.1em 0.1em 0.4em black, 0.3em 0.3em 0.6em black;
}


.text_shadow_title {
  /*font-family: 'Times New Roman', serif;*/
  font-weight: bold;

  color: white;
  text-shadow: 0.067em 0.067em 0.167em black, 0.067em 0.067em 0.67em black, 0.167em 0.167em 0.8em black;
}



.text_shadow_title_2 {
  /*font-family: 'Times New Roman', serif;*/
  font-weight: bold;

  color: white;
  text-shadow: 2px 2px 5px black, 2px 2px 20px black, 5px 5px 25px black;
}






.tc_description{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 15px;
  
  /*text-align: justify;*/
}


.card_info{
  font-size: 12px;
  text-align: center;
  color: grey;
  line-height: 12px;
  
/*  margin: 0px; */
}

.reference{
  font-size: 12px;
  text-align: center;
  color: grey;
  line-height: 12px;
  
  margin: 0px;
}





.title_3{
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;

  /*text-indent: 1em;*/
  
  margin: 30px 10px 0px 0px;
  
  text-align: left;
  
}


.title_5{
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;

  /*text-indent: 1em;*/
  
  margin: 30px 10px 10px 0px;
  
  text-align: left;
  
  /*color: #bbb;*/
}


.Description{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  /*margin: 0px 10px;*/
  
}

.inner_sym{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 10px;
  
}

.divina{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 10px;
  
}

.reversed{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 10px;
  
}

.Additional{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 10px;
  
}

.Addi_reversed{
  font-size: 20px;
  line-height: 24px;
  text-indent: 1em;
  
  margin: 0px 10px;
  
}



/*------------------------------------------------------*/
/*------------------------------------------------------*/
.indent_5 {text-indent: 20px; }

.hanging_18 {margin-left: 18px; text-indent:-18px; }

.i_26_h_14{margin-left: 26px; text-indent:-14px; }

.info_description .hang_bullet{
  text-indent:-18px;
  margin-left: 18px;
}
/*------------------------------------------------------*/


/*------------------------------------------------------*/











